#copy file to /etc/systemd/system/
[Unit]
Description=alertmanager bot

[Service]
EnvironmentFile=/etc/alertmanager-bot/.env
ExecStart=/etc/alertmanager-bot/alertmanager-bot-0.4.3

[Install]
WantedBy=multi-user.target
